html
    head
        title= title
        link(href='/css/main.css', rel='stylesheet')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        h1 Edit Profile
                form.form-horizontal(method="POST", action='')
                    div.form-group
                        label.control-label.col-sm-2 First Name:
                        div.col-sm-10
                            input.form-control(type="text", name="firstname", value=user.firstname)
                    div.form-group
                        label.control-label.col-sm-2 Last Name:
                        div.col-sm-10
                            input.form-control(type="text", name="lastname", value=user.lastname)
                    div.form-group
                        label.control-label.col-sm-2 Email:
                        div.col-sm-10
                            input.form-control(type="email", name="email", value=user.email)

                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type="submit", value="Update") Update